* {
        margin: 0;
}

.bodyCompleto {

}


        .main__header {
        width: 100vw;
        background: rgb(255, 255, 255);
        display: grid;
        position: fixed;
        grid-template-columns: 500px auto;
        justify-content: space-around;
        align-items: center;
}
    
        .main__header__nav {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: end;
        align-items: flex-end;
        height: 90px;
        gap: 0 20px;
}
        .parallax {
        /* The image used */
        background-image: url("../Pastel.png");
      
        /* Set a specific height */
        min-height: 600px; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
      }

      footer {
        font-size: 1rem;
        text-align: center;
        background-color: #81046e8d;
        color: white;
        width: 100vw;
        bottom: 0px;
        padding-top: 20px;
      }
     